@import "~bootstrap/scss/bootstrap";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 150px;
}

body .main {
  width: 100%;
  min-height: 100vh;
  background-color: #8ee4af;
  color: #05386b;
  transition: all 0.4s;

  &.dark {
    background-color: #05386b;
    color: #edf5e1;
  }

  p {
    color: inherit;
    font-size: 25px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}

.search-bar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

/* styles.css */

/* Задаємо кольори для активної кнопки і крапки "Еліпсис" */
.pagination .page-item.active .page-link {
  background-color: #379683;
  border-color: #379683;
  color: #ffffff;
}

.pagination .page-item.disabled .page-link {
  background-color: #8ee4af;
  border-color: #379683;
  color: #6c757d;
}

/* Задаємо кольори для решти кнопок */
.pagination .page-item .page-link {
  background-color: #8ee4af;
  border-color: #379683;
  color: #343a40;
}

/* Змінюємо стилі кнопок попередньої і наступної сторінки */
.pagination .page-item.prev .page-link,
.pagination .page-item.next .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
}

/* Задаємо стилі для "Еліпсис" */
.pagination .page-item.ellipsis .page-link {
  background-color: transparent;
  border-color: transparent;
  color: #343a40;
}
