.card-item {
  background-color: coral;
  height: 100%;
  cursor: pointer;
  overflow: hidden;

  &__img {
    width: 100%;
    max-height: 260px;
    height: 100%;
    transition: 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    text-align: center;
    padding: 1rem;
    font-size: 17px;
  }
}

.box-content {
  width: 100%;
  margin: 0 auto;
  height: 600px;
  font-size: 1.3rem;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.right-box {
  flex-basis: 20%;
}
.left-box {
  flex-basis: 50%;
}
.box-content img {
  width: 300px;
  height: 400px;
  border: 1px solid white;
  box-shadow: 0 5px 5px 5px rgba(255, 255, 255, 0.2);
  transform: rotate(20deg);
  transition: 0.5s;
}
.box-content img:hover {
  transform: rotate(0deg);
}
