:root {
  --accent-dark: #a288e3;
  --accent-light: #f2f5ff;
  --bg-dark: #0f0326;
  --bg-light: #c73e1d;
}

.layout {
  height: 100%;
  background-color: var(--bg-light);
  color: #222;
  transition: all 0.5s;

  &.dark {
    background-color: var(--bg-dark);

    &.change-theme {
      color: var(--accent-dark);
    }
  }
}
